/* Rating CSS */
.rating-label{
 float:left;
}
.rating-wrapper{
    width:90px;
    float:left;
    padding-top:1px;
}

.rate{
    background: url(../images/rating/star_small.gif) no-repeat;
    width:18px;
    text-decoration: none;
    display:block;
    height:20px;
    float:left;
    color:#FFF;
}

.rated{
    background: url(../images/rating/star_small.gif) no-repeat center -21px;
    color:#FFF;
}

.rate-hover{
    background: url(../images/rating/star_small.gif) no-repeat center -43px;
    color:#FFF;
}

.total-rate{
    font-size:12px;
}

.rate-msg{
    margin-left:0px;
}