/* simple css-based tooltip */
.tooltip {
    background-color:#ffdd00;
    border:1px solid #fff;
    padding:10px 15px;
    width:200px;
    display:none;
    color:#000;
    text-align:left;
    font-size:12px;
    line-height:18px;
    font-family:arial;

    /* outline radius for mozilla/firefox only */
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    -moz-box-shadow:0 0 10px #000;
    -webkit-box-shadow:0 0 10px #000;
}
